[run]
include = bitmath/__init__.py
[report]
exclude_lines =
    # These should be impossible to trigger.
    raise ValueError."Invalid value given for 'system' parameter."
    raise ValueError."Instances mathematical base is an unsupported value
    raise ValueError."Can't parse string %s into a bitmath object

    # Don't test the __main__ entry point
    __main__

    # Explicitly label a line as 'do not cover'
    pragma: no cover

    # Stuff to skip only on Python 2.x. Insert a line like:"  # pragma: PY2X no cover" to indicate
    # And export the var "PYVER" as "PY2X" to activate
    pragma: ${PYVER} no cover
