language: python
notifications:
    email: false
branches:
    only:
        - master
after_success:
    - coveralls
matrix:
  include:
    - python: "2.7"
      env: CI=ci
    - python: "3.3"
      env: CI=ci3
script: make $CI
