Source: bitmath
Maintainer: Tim Bielawa <timbielawa@gmail.com>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), debhelper (>= 7.4.3)
Standards-Version: 3.9.5
Homepage: http://bitmath.readthedocs.io/en/latest/
Vcs-Browser: https://github.com/tbielawa/bitmath
Vcs-Git: https://github.com/tbielawa/bitmath.git

Package: python-bitmath
Architecture: all
Homepage: http://bitmath.readthedocs.io/en/latest/
Depends: ${misc:Depends}, ${python:Depends}
Description: Pythonic module for representing and manipulating file sizes
 bitmath simplifies many facets of interacting with file sizes in
 various units. Examples include: converting between SI and NIST prefix
 units (GiB to kB), converting between units of the same type (SI to
 SI, or NIST to NIST), basic arithmetic operations (subtracting 42KiB
 from 50GiB), and rich comparison operations (1024 Bytes == 1KiB),
 bitwise operations, sorting, automatic best human-readable prefix
 selection, and completely customizable formatting.
 .
 In addition to the conversion and math operations, bitmath provides
 human readable representations of values which are suitable for use in
 interactive shells as well as larger scripts and applications. It can
 also read the capacity of system storage devices. bitmath can parse
 strings (like "1 KiB") into proper objects and has support for
 integration with the argparse module as a custom argument type and the
 progressbar module as a custom file transfer speed widget.
 .
 bitmath is thoroughly unittested, with almost 200 individual tests (a
 number which is always increasing). bitmath's test-coverage is almost
 always at 100%.
